<ion-content>
  <div class="container-debug">
    
    <h1 class="title-debug">Activa tu cuenta</h1>
    
    <p class="text-debug">
      Ingresa el código de activación y tu nueva contraseña.
    </p>

    <div class="input-wrapper-debug">
      <label class="label-debug">Activation Code</label>
      <input 
        type="text" 
        inputmode="numeric"
        maxlength="6"
        [(ngModel)]="activationCode" 
        (input)="activationCode = $any($event.target).value"
        placeholder="000000"
        class="native-input-debug">
    </div>

    <div class="input-wrapper-debug">
      <label class="label-debug">New Password</label>
      <input 
        [type]="showPassword ? 'text' : 'password'" 
        [(ngModel)]="password" 
        (input)="password = $any($event.target).value"
        placeholder="········"
        class="native-input-debug">
      </div>

    <div class="input-wrapper-debug">
      <label class="label-debug">Confirm Password</label>
      <input 
        [type]="showPasswordConfirm ? 'text' : 'password'" 
        [(ngModel)]="passwordConfirm" 
        (input)="passwordConfirm = $any($event.target).value"
        placeholder="········"
        class="native-input-debug">
    </div>

    <button class="btn-debug" (click)="activateAccount()">
      Activate Account
    </button>

  </div>
</ion-content>