<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      
            <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <!-- <ion-icon name="stats-chart-outline"></ion-icon> -->
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>TIMER</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library" href="/tabs/library">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>BIBLIOTECA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tips" href="/tabs/tips">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>TIPS</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
